 <section class="home-slide-03" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value)}}');background-repeat: no-repeat;background-size: cover; height:650px; position:relative;">
        <div class="container header-slider-3">
            <div class="slider-wrapper">
                <div class="row">
                    <div class="col-md-7">
                         <div class=" owl-carousel home-slider-3 owl-theme">
                            {{content.field_home_slide}}
                        </div>
                    </div>  
                    <div class="col-md-5">  
                        {{content.field_check_availability_form}}
                    </div>    
                </div>
            </div>
        </div>
    </section>