 <section class="header1 home-slide-02" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value)}}');background-repeat: no-repeat;background-size: cover; height:650px; position:relative;">
    <div class="container header-slider-2">
        <div class="slider-wrapper">
            <div class=" owl-carousel home-slider-2 owl-theme">
                {{content.field_home_slide}}
                <div class="counter">
                </div>
            </div>
        </div>
        <div class="rooms_check"> 
           {{content.field_check_availability_form}}
        </div>
    </div>
</section>