<div class="item mb-4 slides">
    <div class="item-wrapper">
        <span>{{content.field_tag_line.0}}</span>
        {{content.field_home_slider_title.0}}
        <div class="room-suites">
            <a href="{{content.field_button_link.0['#url']}}" tabindex="-1">{{content.field_button_link.0['#title']}}</a>
        </div>
    </div>
</div>
