<section class="accordion-style faq">
    <div class="container">
        <div class="accordion-block">
            {{content.field_qustions_answers}}
            <div class="faq-title">
                <h1>{{content.field_title.0}}</h1>
                <div class="btn-link">
                    <a href="{{content.field_button_link.0['#url']}}" tabindex="-1">{{content.field_button_link.0['#title']}}</a>
                </div>
            </div>    
        </div>    
    </div>
</section>