<section class="news-style1">
    <div class="container">
        <span class="tagline">{{content.field_tag_line.0}}</span>
        <h2 class="section-title">{{content.field_title.0}}</h2>
        {{content.field_events_style}}
        <a class="button-link home1-btn" href="" tabindex="-1">View More</a>
    </div>
</section>