<div class="room-sidebar events-sidebar">
    <div class="events-image-wrapper">
        <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        <div class="events-title">
            <h5>{{fields.title.content}}</h5>
        </div>      
    </div>    
</div>