
<div class="col-md-4">
    <div class="blog-item">
        <img alt="blog-image" src="{{fields.field_image.content}}">
        <span class="date">{{fields.created_1.content}}</span>
        <h5>{{fields.title.content}}</h5>
        <a href="{{fields.view_node.content}}" tabindex="-1"> <svg height="34.043" viewBox="0 0 59 34.043" width="59" xmlns="http://www.w3.org/2000/svg"><g data-name="arrow-right (1)" id="arrow-right_1_" transform="translate(2.5 3.521)"><path d="M0,0H52.786" data-name="Path 28" fill="none" id="Path_28" stroke="#333239" stroke-linecap="round" stroke-width="5" transform="translate(0 13.5)"></path><path d="M0,27,16.2,13.5,0,0" data-name="Path 3" fill="none" id="Path_3" stroke="#333239" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" transform="translate(37.804 0)"></path></g></svg></a>
    </div>
</div>