
<div class="blog-blocks">
    <div class="blog1">
        <div class="row">
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}
        </div>
    </div>
</div>            
