<div class="room-sidebar">
    <div class="rooms-grid-1-wrapper">
        <img src="{{fields.field_multiple_image.content}}" alt="">
    </div>
    <div class="room-title-sidebar">
        <div class="rooms-title">
            <h5>{{fields.title.content}}</h5>
        </div>      
        <div class="price-read">
            <div class="roms-price">
                <span>{{fields.field_price.content}}</span>
                <p>/{{fields.field_price_plan.content}}</p>
            </div>
        </div>   
    </div>    
</div>
        