<section class="team chef">
    <div class="container">
        <div class="carousel-block">
            <div class="carousel1">
                <div class="tag-title">
                    <span class="tagline">{{content.field_tag_line.0}}</span>
                    <h2 class="sec-title">{{content.field_title.0}}</h2>
                </div>
                <div class="owl-carousel carousels-4 owl-theme">
                    {{content.field_chef}}
                </div>
            </div>
        </div>
    </div>    
</section>            
