<section class="chef-gridList">
    <div class="container">
        <div class="chef-title">
            <h1>{{content.field_title.0}}</h1>
            <p>{{content.field_tag_line.0}}</p>
        </div>
        {{content.field_chef_grid}} 
    </div>
</section>