<section class="page-banner2" style="background-image: url('{{fields.field_page_banner.content}}'); background-repeat: no-repeat; background-size: cover;background-position: bottom;height:260px; position: relative;">
    <div class="page-title-block">
        <h1>{{fields.name.content}}</h1>
    </div>
</section>