{% if links %}
    <div class="language">
        <a class="language-dropdown-btn" href="javascript:void(0);" title="{{ links['activeLink'].text }}" role="button" data-bs-toggle="dropdown" aria-expanded="true">{{ links['activeLink'].text }} <i class="fas fa-caret-down"></i></a>
        <ul class="dropdown-menu">
            {%- for key, item in links -%}
                {% if key is not same as("activeLink") %}
                <li class="lang-dropdown-item">{{ item.link }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}