<div class="col-md-4 col-lg-3">
    <div class="amenity">
        <div class="svg">
            {{content.field_icon.0}}
        </div>
        <h4>{{content.field_title.0}}</h4>
    </div>    
</div>