/* Fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans/OpenSans-Bold.ttf) format('truetype');
}
/* Variables */
:root {
  --main-bg-color: #FFF;
  --secondary-bg-color: #F7F7F7;
  --sidebar-color: #000;
  --primary-color: #ff3c9e;
  --heading-color: #232323;
  --paragraph-color: #464646;
  --list-color: #232323;
  --section-bg-light-color: #FAFAFA;
  --primary-hover-color: #FFF;
  --primary-hover-text-color: #000;
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}
/* General */
body {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--paragraph-color);
  text-align: left;
  background-color: var(--main-bg-color);
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;
}
h1, .h1 {
  font-size: 2.5rem;
}
h2, .h2 {
  font-size: 2rem;
}
h3, .h3 {
  font-size: 1.75rem;
}
h4, .h4 {
  font-size: 1.5rem;
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
}
a {
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
}
a:hover {
  text-decoration: none;
}
code {
  display: block;
  overflow-x: auto;
  padding: 0.5em 1rem;
  color: red;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e8;
  margin-top: 5px;
  margin-bottom: 5px;
}
p code,
table code {
  white-space: nowrap;
}
/* Nav */
nav[data-toggle=toc] .nav>li>a {
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #9c9c9c;
}
nav[data-toggle=toc] .nav .nav>li>a {
  padding-left: 35px;
  font-size: 14px;
}
nav[data-toggle=toc] .nav>li>a:focus, nav[data-toggle=toc] .nav>li>a:hover {
  color: #fff;
  border-left: 2px solid #ffffff;
}
nav[data-toggle=toc] .nav-link.active, nav[data-toggle=toc] .nav-link.active:focus, nav[data-toggle=toc] .nav-link.active:hover {
  color: #fff;
  border-left: 2px solid #ffffff;
}
nav[data-toggle=toc] .nav .nav>li>.active, nav[data-toggle=toc] .nav .nav>li>.active:focus, nav[data-toggle=toc] .nav .nav>li>.active:hover {
  padding-left: 35px;
}
/* Buttons */
.btn {
  font-family: var(--primary-font);
  font-weight: 600;
  height: auto;
  margin: 20px 0 0;
  text-transform: uppercase;
  border: 2px solid var(--primary-color);
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  display: inline-block;   
}
.btn i {
  padding-right: 0.5px;
  position: relative;
  top: -1px;
}
.btn-sm i {
  padding-right: 1.5px;
}
.btn-lg i {
  padding-right: 0.5px;
}
.btn.focus, .btn:focus, button:focus {
  outline: 0;
  box-shadow: none;
}
.btn-primary {
  font-size: 14px;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  min-width: 130px;
  padding: 10px 35px;
  color: #fff;
}
.btn-primary:hover{
  background: var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  color: var(--primary-hover-text-color);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  color: var(--primary-hover-text-color);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
  background-color: var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  box-shadow: none;
  color: var(--primary-hover-text-color);
}
.btn-outline-primary {
  font-size: 15px;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 0;
  min-width: 130px;
  padding: 15px 35px;
  color: var(--primary-color);
}
.btn-outline-primary:hover{
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: none;
  color: #fff;
}
.btn-secondary {
  font-size: 15px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 60px;
  min-width: 130px;
  padding: 10px 35px;
  color: var(--primary-color);
}
.btn-secondary:hover{
  background: #000;
  border: 2px solid #000;
  color: #fff;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #000;
  border: 0.1875rem #000;
  color: #fff;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-secondary.focus, .btn-secondary:focus {
  background-color: #000;
  border: 0.1875rem solid #000;
  box-shadow: none;
  color: #fff;
}
.badge-primary {
  background-color: #28a745;
}
/* Section */
.pt-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.pt-section .section-title {
  background-color: var(--primary-color);
  position: relative;
  height: 70px;
  margin-bottom: 80px;
  display: inline-block;
  color: #fff;
}
.pt-section .section-title:after {
  content: "";
  position: absolute;
  top: 0;
  right: -70px;
  width: 0;
  height: 0;
  border-top: 70px solid var(--primary-color);
  border-right: 70px solid transparent;
}
.pt-section .section-title h2 {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 600;
  padding: 0 35px 0 85px;
  margin-bottom: 0;
  line-height: 70px;
  text-transform: uppercase;
}
.pt-section .tagline {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 500; 
  color: var(--paragraph-color);
  line-height: 37px;
  padding-bottom: 15px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.pt-section h3 {
  font-family: var(--primary-font);
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: var(--heading-color);
  margin-bottom: 20px;
  padding: 0;
}
.pt-section p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--paragraph-color);
}
#go-to-top {
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 20px;
  padding: 6px 10px;
  bottom: 25px;
  right: 10px;
  text-decoration: none;
  background-color: var(--primary-color);
  -webkit-animation: 1s .2s fadeInUp both;
  animation: 1s .2s fadeInUp both;
}
#go-to-top i {
  color: #fff;
  font-size: 18px;
}
#go-to-top:hover {
  background-color: #000;
  border: 2px solid #000;
}
#go-to-top i {
  color: #fff;
}
#pt-wrapper {
  display: flex;
  width: 100%;
}
#pt-sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: var(--sidebar-color);
  color: #fff;
  transition: all 0.3s;
}
#pt-sidebar.active {
  margin-left: -250px;
}
#pt-sidebar .pt-brand {
  background:  var(--sidebar-color);
  font-size: 18px;
  font-weight: 700;
  padding: 40px 20px;
}
#pt-sidebar .pt-brand span {
  font-size: 12px;
  vertical-align: top;
}
#pt-content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#pt-content.active {
  width: 100%;
}
.badge {
  padding: .5em 1em;
}
.theme-title-wrapper {
  background-image: linear-gradient(-20deg, #3538a3 0%, #8735a6 100%);
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 20px 30px;
}
.theme-title-wrapper .jumbotron {
  background-color: transparent;
  position: relative;
  margin-bottom: 20px;
  padding: 0 2rem; 
  width: 100%;
  color: #fff;
}
.theme-title-wrapper .jumbotron h1 {
  padding-top: 45px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.theme-title-wrapper .theme-creator-info {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.theme-title-wrapper .theme-creator-contact {
  position: absolute;
  right: 30px;
  bottom: 0;
}
.theme-title-wrapper .theme-creator-contact a {
  margin-left: 10px;
}
.theme-title-wrapper a:not(.btn) {
  color: #32d093;
}
.theme-title-wrapper a:not(.btn):hover {
  text-decoration: underline;
}
.theme-content-wrapper {
  padding: 0 50px 35px;
}
.theme-content-wrapper h1, .theme-content-wrapper h2, .theme-content-wrapper h3 {
  font-weight: 700;
}
.theme-content-wrapper h1 {
  font-size: 30px;
  padding-top: 45px;
  margin-bottom: 25px;
}
.theme-content-wrapper h2 {
  font-size: 24px;
  padding-top: 35px;
  color: #202020;
  margin-bottom: 25px;
}
.theme-content-wrapper h3 {
  font-size: 16px;
  padding-top: 30px;
  margin-bottom: 20px;
}
iframe, .doc-img {
  border: 1px solid #e1e1e8;
  margin-bottom: 25px;
}
/* Footer */

#pt-footer{
  background-color: #fff;
  color:#202020;
  padding: 0 50px;
}
#pt-footer ul{
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
#pt-footer ul li{
  list-style-type: none;
  padding:15px;
}
#pt-footer ul li a{
  color:#202020;
  font-weight: 600;
}
#pt-footer .footer-wrapper{
  display: flex;
  padding: 20px 0 30px;
  border-top: solid 1px #bbb;
}
#pt-footer ul{
  margin-left: auto;
}
#pt-footer ul li{
  padding: 0 15px;
}

/* small screens */
@media (max-width: 768px) {
  #pt-sidebar {
    margin-left: -250px;
  }
  #pt-sidebar.active {
    margin-left: 0;
  }
  #pt-content {
    width: 100%;
    word-break: break-all;
  }
  #pt-content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
  .theme-title-wrapper .theme-creator-contact {
    position: static;
    text-align: right;
  }
  iframe {
    width: 100%;
  }
  .theme-title-wrapper .jumbotron {
    padding: 0;
  }
  .btn-primary {
    min-width: auto;
    padding: 10px 18px;
  }
  .theme-content-wrapper {
    padding: 0 20px 35px;
  }
  #pt-footer .footer-wrapper {
      flex-direction: column-reverse;
      text-align: center;
  } 
  #pt-footer ul{
    margin-right: auto;
    margin-bottom: 1rem;
  } 
}


