<div class="col-md-4">
    <div class="content-wrapper">
        <div class="services-icon">
            {{fields.field_icon.content}}
        </div>
        <h3>{{fields.title.content}}</h3>
        <p>{{fields.body.content}}</p>
    </div>
</div>
