
<div class="col-md-6 col-lg-4">
    <div class="content-wrapper">
        <img src="{{fields.field_multiple_image.content}}" alt="Services-image">
        <h3>{{fields.title.content}}</h3>
    </div>
</div>

