<section class="careers">
    <div class="container">
        <div class="tag-title">
            <span class="tagline">{{content.field_tag_line.0}}</span>
            <h2 class="sec-title">{{content.field_title.0}}</h2>
        </div>
        {{content.field_careers}}
    </div>    
</section>    