<section class="page-banner2" style="background-image: url({{fields.field_page_banner.content}}); background-repeat: no-repeat; background-size: cover;background-position: bottom;height:260px; position: relative;">
    <div class="page-title-block">
        <h1>{{fields.title.content}}</h1>
        <div class="banner-detail">
            <h4>{{fields.created.content}}</h4>
                <span class="dot">.</span>
            <h4>By<span class="blog-uid">{{fields.uid.content}}</span></h4>
        </div>
    </div>
</section>