
<div class="item mb-4">
    <div class="content-block">
        <div class="content-wrapper">
            <img src="{{fields.field_image.content}}" alt="testimonial-image">
            <svg xmlns="http://www.w3.org/2000/svg" width="108.753" height="90.628" viewBox="0 0 108.753 90.628">
                <path id="Icon_awesome-quote-right" data-name="Icon awesome-quote-right" d="M98.557,2.25H71.369a9.964,9.964,0,0,0-10.2,9.71V37.854a9.964,9.964,0,0,0,10.2,9.71H88.361V60.51c0,7.141-6.1,12.947-13.594,12.947h-1.7a4.969,4.969,0,0,0-5.1,4.855v9.71a4.969,4.969,0,0,0,5.1,4.855h1.7c18.777,0,33.985-14.484,33.985-32.367V11.96A9.964,9.964,0,0,0,98.557,2.25Zm-61.173,0H10.2A9.964,9.964,0,0,0,0,11.96V37.854a9.964,9.964,0,0,0,10.2,9.71H27.188V60.51c0,7.141-6.1,12.947-13.594,12.947h-1.7a4.969,4.969,0,0,0-5.1,4.855v9.71a4.969,4.969,0,0,0,5.1,4.855h1.7c18.777,0,33.985-14.484,33.985-32.367V11.96A9.964,9.964,0,0,0,37.384,2.25Z" transform="translate(0 -2.25)" fill="#e4a853"/>
            </svg>
            <div class="content">{{fields.body.content}}</div>
            <div class="designation">
                <h3>{{fields.title.content}}</h3>
                <p>{{fields.field_designation.content}}</p>
            </div>
        </div>
    </div>
</div>
                    