<section class="services home1-service">
    <div class="container">
        <span class="tagline">{{content.field_tag_line.0}}</span>
        <h2 class="section-title">{{content.field_title.0}}</h2>
        {{content.field_services_style}}
    </div>
</section>