<section class="serives services-style-3">
    <div class="container">
        <div class="row">
            <div class="title-description">
                <h2>{{content.field_title.0}}</h2>
                {{content.field_description.0}}
            </div>    
                {{content.field_services_style}}
        </div>
    </div>        
</section>