<section class="form-submission">
    <div class="container">
        {{content.field_description.0}}

        {# <img src="{{file_url(content.field_image['#item'].entity.uri.value)}}" alt="image"> #}
    </div>
</section>