{% if links %}
    <div class="language">
        <a href="javascript:void(0);" title="{{ links['activeLink'].text }}" role="button" id="languagedropdown1" data-bs-toggle="dropdown" aria-expanded="true">{{ links['activeLink'].text }} <svg xmlns="http://www.w3.org/2000/svg" width="45" height="25.2" viewBox="0 0 45 25.2">
  <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward" d="M28.85,28.688,12.172,11.673a3.25,3.25,0,0,1,0-4.542,3.13,3.13,0,0,1,4.462,0l18.9,19.279a3.259,3.259,0,0,1,.092,4.435L16.646,50.258a3.122,3.122,0,0,1-4.462,0,3.25,3.25,0,0,1,0-4.542Z" transform="translate(51.196 -11.246) rotate(90)" fill="#e4a853"/>
</svg></a>
        <ul class="dropdown-menu" aria-labelledby="languagedropdown1" data-bs-popper="none">
            {%- for key, item in links -%}
                {% if key is not same as("activeLink") %}
                <li class="lang-dropdown-item">{{ item.link }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}