<div class="news">
    <div class="news-list-full">
		{% for row in rows %}
            {% if loop.index is odd %}
                <div class = "odd">
                {{ row.content }}
                </div>
            {% else %}
                <div class = "even">
                {{ row.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>  
