
<div class="col-md-4">
    <div class="news-grid">
        <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        <div class="event-details">
            <div class="blog-date">
                <p>{{fields.field_date.content}}</p>
            </div>
            <div class="title">
                <h3>{{fields.title.content}}</h3>
            </div>
        </div> 
    </div>       
</div>