<section class="offer-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                {{content.field_offer_style_1}}
            </div>
            <div class="col-md-6 col-lg-4">
                {{content.field_o}}
            </div>
            <div class="col-md-6 col-lg-4">
                {{content.field_offer}}
            </div>
        </div>
    </div>
</section>