
    <div class="col-md-6">
        <div class="menu-grid-1">
            <div class="menu-grid-1-wrapper">
                <img src="{{fields.field_image.content}}" alt="">
                <div class="menu-grid-detail">
                    <h5>{{fields.title.content}}</h5>
                    <p>{{fields.body.content}}</p>
                </div>
                <div class="menu-price">
                    <p>{{fields.field_price.content}}</p>
                </div>
            </div>
        </div>
    </div>

