
        <div class="col-md-6">
            <div class="menu-grid-1 menu-list-home">
                <img src="{{fields.field_image.content}}" alt="">
                <div class="menu-grid-detail">
                    <div class="price-wrapp">
                        <h5>{{fields.title.content}}</h5>
                        <div class="menu-price">
                            <p>{{fields.field_price.content}}</p>
                        </div>    
                    </div>
                    <p>{{fields.body.content}}</p>
                </div>
            </div>
        </div>
