
<div class="col-md-12">
    <div class="menu-list">
        <div class="menu-list-wrapper">
            <div class="img-text">
                <img src="{{fields.field_image.content}}" alt="menu-list-image">
                <div class="menu-grid-detail">
                    <h3>{{fields.title.content}}</h3>
                    <p>{{fields.body.content}}<p>
                </div>
            </div>    
            <div class="menu-price">
               <h3>{{fields.field_price.content}}</h3>
            </div>
        </div>
    </div>
</div>
