
                     
<div class="col-md-4">
    <div class="menu-grid-3">
        <div class="image-wrapper">
            <img src="{{fields.field_image.content}}" alt="">
        </div>
        <h4> {{fields.title.content}}</h4>
    </div>
</div>