
<li>
    <div class="menu-list-sidebar">
        <div class="menu-sidebar">
            <div class="menu-list-sidebar-wrapper">
                <img src="{{fields.field_image.content}}" alt="menu-list-image">
                <h6>{{fields.title.content}}</h6>
            </div>
        </div>
    </div>
</li>