
<div class="col-md-4">
    <div class="menu-grid">
        <div class="image-wrapper">
            <img src="{{fields.field_image.content}}" alt="">
        </div>
        <div class="menu-title-price">
            <h5>{{fields.title.content}}</h5>
            <p>{{fields.field_price.content}}</p>
        </div>    
    </div>
</div>
